{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block auth_content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                <h3>Login</h3>
            </div>

            <div class="card-body">

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success w-100">
                        Login
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}